
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0px 50px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: rgb(76, 40, 135);
    color:white;

}


.tablebox{
    width:75%;
    margin:auto;
    padding: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
}
table{
    width: 100%;
}
table>thead>tr>th{
    background-color: blueviolet;
    color:white;
    padding:10px;
    font-size: 18px;
}

table>tbody>tr>td{
    font-size: 18px;
    font-weight: bold;
}

table>tbody>tr{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
}



