.signup {
  width: 17%;
  margin: auto;
  text-align: left;
  
  padding:20px;
  
  background-color: blueviolet;
  color: white;
  border-radius: 10px;
  margin-top: 100px;
}

input{
    padding: 7px 10px;
    width: 250px;
    border:none;
    outline: none;
}

button{
    padding:10px 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    color:white;
    background-color: rgb(190, 132, 244);
    

}

button:hover{
    background-color: rgb(170, 137, 201);
}
span{
    color:white;
    font-weight: bold;
}